.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  height: 100%;
}

@media (min-width: 720px) {
  .NavigationItems {
    display: flex;
    align-items: center;
  }
}
